[Unit]
Description=First Install
After=zerotier-one.service

[Service]
ExecStart=/bin/bash /opt/.first_install.sh

[Install]
WantedBy=multi-user.target
